@import url('https://fonts.googleapis.com/css2?family=SoDoSans:wght@400&display=swap');

body {
    font-family: 'SoDoSans', sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image:url('../img/profile_back.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.login {
    padding-top: 13px;
}

.content{
    container: flex;
    flex-wrap: wrap;
    min-height:100vh;
}

#addSection{
    margin-top: 70px;
    margin-left: 250px;
    background: rgba(245, 245, 245, 0.5);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    width: 100%;
    width: calc(100% - 250px);
}

#addForm{
    width:55%;
}

h1{
    font-size:36px;
    color: #835a5a;
    margin-bottom: 20px;
    font-weight:bold;
}

.col-12 input[type="submit"] {
    margin-top: 20px;
    background-color: #8c5a52; /* Button background color */
    color: #f4e7d4; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.col-12 input[type="submit"]:hover {
    background-color: #835a5a; /* Button background color on hover */
}

.site-footer{
    margin-left: 250px;
    width: calc(100% - 250px);
}

@media (max-width: 1000px) {
    #addForm{
        width:100%;
        padding:10px;
    }
    h1{
        padding:10px;
        font-size: 30px;
        margin-bottom: 10px;
    }
}
@media (max-width: 850px) {
    #addSection, .site-footer{
        margin-left: 150px;
        padding:20px;
        width: calc(100% - 150px);
    }
}
@media (max-width: 450px) {
    #addSection, .site-footer{
        margin-left: 100px;
        padding:20px;
        width: calc(100% - 100px);
    }
}

