@font-face {
    font-family: projectFont;
    src: url(SoDoSans-Regular.woff2);
}

* {
    font-family: projectFont;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    background-image: url("../img/register_back.avif");
    background-size: cover;
    background-position: center;
    height:100%;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.login{
    padding-top:13px;
}

.container.content {
    text-align: center;
    min-height:100vh;
    /* min-height: calc(100vh +80px); */
}

.register-section{
    margin-top:80px;
    height:100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.form-container {
    background: rgba(245, 245, 245, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #541616;
    text-align:center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form .form-label {
    text-align: left;
}

form .form-control {
    text-align: left;
}

.error{
    color: red; 
    display: none;
    font-size: 12px;
    font-style: italic;
}

/* password toggle start */
.password-section {
    position: relative;
    display: inline-block;
 }

 .password-section .fa-eye {
    position: absolute;
    top: 76%;
    right: 22px; /* Adjust this value to control the icon's position */
    transform: translateY(-50%);
    cursor: pointer;
 }
 .password-section .fa-eye-slash {
    position: absolute;
    top: 76%;
    right: 22px; /* Adjust this value to control the icon's position */
    transform: translateY(-50%);
    cursor: pointer;
 }

/* password toggle end */

.input-error{
    border:1px solid red;
}

.input-error:focus {
    border-color: red;
    box-shadow: none;
}

#register-form .col-12 {
    display: flex;
    justify-content: flex-end; /* Align the submit button to the right */
}

#register-form input[type="submit"] {
    margin-top: 20px;
    background-color: #8c5a52; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#register-form input[type="submit"]:hover {
    background-color: #835a5a; /* Button background color on hover */
}

#register-form input[type="password"]{
    position: relative;
}

#register-form input[type="password"] .form-control{
    padding-right: 40px; 
}

/* @media (max-width: 767px) {
    .content{
        margin-bottom: 30px;
    }
} */

@media (max-width: 576px) {
    /* .content {
        padding-top: 100px;
    } */

    h2 {
        font-size: 1.25rem;
    }

    .form-container {
        padding: 15px;
    }

    #register-form .col-12 {
        justify-content: center; /* Center align the submit button on small screens */
    }

    #register-form input[type="submit"] {
        width: 100%; /* Full width button on small screens */
        margin-top: 10px;
    }
}

@media (min-height: 756px) {
    .register-section{
        margin-top: 0;
        margin-bottom: -20px;
        height:calc(100vh + 80px);
    }
}