@font-face {
    font-family: projectFont;
    src: url(SoDoSans-Regular.woff2);
}

* {
    font-family: projectFont;
}

body {
    margin: 0px;
    background-image: url("../img/register_back.avif");
    background-size: cover;
    background-position: center;
    position: relative;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.login{
    padding-top:13px;
}

.content {
    padding-top: 90px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #f4e7d4;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #f4e7d4;
}

.form-container {
    background: rgba(245, 245, 245, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form .form-label {
    text-align: left;
}

form .form-control {
    text-align: left;
}

form .error_message{
    color: red; 
    display: none;
}


#register-form .col-12 {
    display: flex;
    justify-content: flex-end; /* Align the submit button to the right */
}

#register-form input[type="submit"] {
    margin-top: 20px;
    background-color: #8c5a52; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#register-form input[type="submit"]:hover {
    background-color: #835a5a; /* Button background color on hover */
}

#register-form input[type="password"]{
    position: relative;
}

#register-form input[type="password"] .form-control{
    padding-right: 40px; 
}