@import url('https://fonts.googleapis.com/css2?family=SoDoSans:wght@400&display=swap');

body {
    font-family: 'SoDoSans', sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: url('../img/profile_back.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.login {
    padding-top: 13px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

#userProfile {
    margin-top: 70px;
    margin-left: 250px;
    background: rgba(245, 245, 245, 0.5);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    width: 100%;
}

#userForm{
    width:55%;
}

h1 {
    font-size: 36px;
    color: #835a5a;
    margin-bottom: 20px;
    font-weight:bold;
}

.col-12 input[type="submit"] {
    margin-top: 20px;
    background-color: #8c5a52;
    color: #f4e7d4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.col-12 input[type="submit"]:hover {
    background-color: #835a5a;
}

@media (max-width: 1000px) {
    #userForm{
        width:100%;
    }
}
@media (max-width: 850px) {
    #userProfile{
        margin-left: 150px;
    }
}
@media (max-width: 450px) {
    #userProfile{
        margin-left: 100px;
    }
}
